.wrapper
  p(style="color:#fff;font-size:117px;")
    span#minutes 00
    span :
    span#seconds 00
  button.button.but-pad(id="button-start") Start
  button.button.but-pad(id="button-stop") Stop
    
