.wrapper
  p(style="color:#fff;font-size:117px;")
    span#minutes 00
    span :
    span#seconds 00
  button.button.but-pad(id="button-toggle") Start
  div#durration(style="display:none; color:white; text-align: center; font-size: 20px")    
  span#money-earn(style="display:none;color:white;")
