.wrapper.animated.fadeIn
  p(style="color:#fff;font-size:117px;")
    span#minutes 00
    span :
    span#seconds 00
  button.button.but-pad.animated.bounce(id="button-toggle") Start
  div#durration  
  div#money-earn
