.top-bar
  .top-bar-title
    span(data-responsive-toggle='responsive-menu', data-hide-for='medium')
      span.menu-icon.light(data-toggle)
    a(href='/') Project name
  #responsive-menu
    .top-bar-left
      ul.vertical.medium-horizontal.menu
        li(class=(title == 'Home') ? 'active' : null)
          a(href='/') Home
        li(class=(title == 'Contact') ? 'active' : null)
          a(href='/contact') Contact
    .top-bar-right
      ul.vertical.medium-horizontal.menu
        if user
          li
            if user.picture
              img.avatar(src=user.picture)
            else
              img.avatar(src=user.gravatar)
            | <span> #{user.name || user.email || user.id} </span>
          li
            a(href='/account') My Account
          li
            a(href='/logout') Logout
        else
          li(class=(title == 'Log in') ? 'active' : null)
            a(href='/login') Log in
          li(class=(title == 'Sign up') ? 'active' : null)
            a(href='/signup') Sign up
