extends layout

block content

	include includes/header

	.animated.fadeIn

		h1.groups-header My Groups
		ul
			a(href="/groups/mHacks9")
				li.center mHacks9
			a(href="/groups/Friends")
				li.center Friends
			a(href="/groups/littlecaesars")
				li.center Little Caesars
			a(href="/groups/family")
				li.center Family


		.group-wrapper
			h1.groups-header Join A Group

			form(action='/joingroup' method='put')
				input(class="form-control" type='text' placeholder='Enter Existing Group Name')

			h1.groups-header Create A Group

			form(action='/creategroup' method='put')
				input(class="form-control" type='text' placeholder='Enter New Group Name')