extends layout

block content
  .container-fluid
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg

    if user
      include includes/header
      include includes/counter

    else
      .wrapper.animated.fadeIn
        h1 LavLog
        a(class="but-pad btn button hvr-grow" href="/login") Login
        a.btn.button.but-pad.hvr-grow(href="/signup") Register

      p.message.animated.fadeIn Have you ever wondered how much money you make going to the restroom while at work?
       


