.wrapper {
	max-width: 300px; 
	margin: 0 auto;
}

.button {
	width: 300px !important;
	height: 50px;
	background-color: $primary-color;
	color: $fourth-color; 
	border: 1px solid $fourth-color;
	font-size: 30px !important;
	font-family: $secondary-font !important; 
	border-radius: 10px !important;
	outline: none;
	transition: background-color 0.5s;
	font-weight: normal !important;
	line-height: normal;
}

.button:hover {
	color: $primary-color;
	background-color: $fourth-color;
}

.center {
	text-align: center;
}

.heading {
	font-size: $heading-size;
	color: $secondary-color;
}

.font1 {
	font-family: 'Oleo Script Swash Caps';
}

.font2 {
	font-family: 'Yantramanav', sans-serif;
}