#groupname,
#lb {
	margin: 0;
}

#lb {
	margin-bottom: 15px;
}

h2.center.lb {
	color: $secondary-color;
	font-size: 50px;
	text-decoration: uppercase;
}

h2.user-info {
	color: $fourth-color;
}

.img-circle.pull-right {
	width: 200px;
}

.row.user-container {
	margin: 20px 0;
}