@import 'classes'; 

body {
	background-color: $primary-color;
}

h1 {
	color: $fourth-color;
	text-align: center;
	font-family: $primary-font;
	font-size: 75px;
	padding-top: 50px;
	margin-bottom: 30px;
}

.but-pad {
	margin-bottom: 25px;
}

input:focus {
	outline: none;
}

.font1 {
	font-family: 'Oleo Script Swash Caps';
}

.font2 {
	font-family: 'Yantramanav', sans-serif;
}

.panel {
	background-color: $primary-color;
	color: $third-color;
}

.btn-toolbar.text-center {
	margin-top: 10px;
}

.time-margin {
	margin-top: 50px;
}

.navbar-default .navbar-nav > li.active > a {
	border: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	color: $primary-color;
	background-color: $primary-color;
}

.navbar-default .navbar-toggle {
	border: none;
}