@import 'classes'; 

body {
	background-color: $primary-color;
}

#minutes,
#seconds {
	font-family: digital-clock-font;
	font-size: 155px;
}

h1 {
	color: $fourth-color;
	text-align: center;
	font-family: $primary-font;
	font-size: 75px;
	padding-top: 20px;
	margin-bottom: 30px;
	margin-top: 40px;
}

.but-pad {
	margin-bottom: 25px;
}

input:focus {
	outline: none;
}

.font1 {
	font-family: 'Oleo Script Swash Caps';
}

.font2 {
	font-family: 'Yantramanav', sans-serif;
}

.panel {
	background-color: $primary-color;
	color: $third-color;
}

.btn-toolbar.text-center {
	margin-top: 10px;
}

.time-margin {
	margin-top: 50px;
}

.navbar-default .navbar-nav > li.active > a {
	border: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	color: $primary-color;
	background-color: $primary-color;
}

.navbar-default .navbar-toggle {
	border: none;
}

@font-face{
 font-family:'digital-clock-font';
 src: url('Digital Dismay.otf');
}

input:focus {
	outline: none;
	color: none;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	color: $fourth-color;
	background-color: $fourth-color;
}

div.container-fluid {
	padding: 0;
}

.message {
	font-size: 30px;
	width: 66%;
	max-width: 450px;
	margin: 30px auto;
	text-align: center;
	font-family: $secondary-font;
}


