label.font2,
p,
a:hover {
	color: $fourth-color;
}

a {
	color: $secondary-color;
}

.btn.btn-success {
	border: none;
	height: 50px;
	margin-top: 15px;
}

.btn-twitter,
.btn-facebook {
	width: 100%;
}

.btn-toolbar > .btn {
	margin-bottom: 10px;
}