.form-horizontal > legend{
  font-family: $primary-font;
  color: $fourth-color;
}

.form-group > label{
  font-family: $secondary-font;
  color: $third-color;
  font-size: 50px;
}

.form-group > p{
  font-family: $secondary-font;
  color: $third-color;
  
}
