.form > legend{
  font-family: $primary-font;
  color: #000000;
}

.form-group > label{
  font-family: $secondary-font;
  color: $fourth-color;
  font-size: 100px;
}

.form-group > p{
  font-family: $secondary-font;
  color: $third-color;
}
 #head{
   font-family: $primary-font;
   color: $third-color;
 }
